@use "Var";
@use "Mixin";

.h {
  position: relative;
  background-color: Var.$color-rosa-claro;
  @include Mixin.crear-flex(space-between, center);
  padding: 1rem 8rem;
  z-index: 70;

  &Cont {
    @include Mixin.crear-flex(center, center);
    &Logo {
      max-width: 100%;
      width: 5rem;
      object-fit: cover;
    }
    &Bmoon {
      background-color: Var.$color-rosa-claro;
      cursor: pointer;
      margin-left: 1rem;
      transform: rotate(0);
      transition: transform 0.2s ease;
      &Img {
        pointer-events: none;
        width: 2.3rem;
      }

      &:hover {
        transform: rotate(360deg);
      }
    }
  }

  &Nav {
    &Link {
      color: Var.$color-gris-oscuro;
      font-size: Var.$parrafo-size;
      margin-left: 2rem;
      transition: color 0.2s ease-in;
      &:hover {
        color: Var.$color-blanco;
      }
    }
    &Close {
      cursor: pointer;
      position: absolute;
      top: 2rem;
      right: 2rem;
      background-color: Var.$color-rosa-claro;
      transform: rotate(0);
      transition: transform 0.2s ease;
      opacity: 0;
      pointer-events: none;

      &:hover {
        transform: rotate(360deg);
      }

      &Img {
        pointer-events: none;
        width: 4rem;
      }
    }

    @media (max-width: 815px){
      @include Mixin.crear-flex(center,center);
      flex-direction: column;
      position: fixed;
      padding: 1rem;
      top: 0;
      right: 0;
      left: 20rem;
      bottom: 30rem;
      padding-top: 10rem;
      padding-bottom: 2rem;
      background-color: Var.$color-rosa-claro;
      z-index: 80;
      opacity: 0;
      pointer-events: none;
      transition: opacity .4s ease;

      &Link{
        margin-bottom: 2.5rem;
      }

      &Show{
        opacity: 1;
        pointer-events: unset;
      }
    }

    @media (max-width: 576px){
      left: 0;
    }
  }

  &Menu {
    position: absolute;
    top: 1.5rem;
    right: 8rem;
    background-color: Var.$color-rosa-claro;
    cursor: pointer;
    transform: rotate(0);
    transition: transform 0.2s ease;
    opacity: 0;
    pointer-events: none;

    &:hover {
      transform: rotate(360deg);
    }

    &Img {
      pointer-events: none;
      width: 4rem;
    }

    @media (max-width: 815px){
      opacity: 1;
      pointer-events: unset;
    }

    @media (max-width: 480px){
      right: 4rem;
    }
    @media (max-width: 320px){
      right: 2rem;
    }
  }

  @media (max-width: 480px){
    padding: 1rem 4rem;
  }
  @media (max-width: 320px){
    padding: 1rem 2rem;
  }

}
