
$color-rosa-claro: #F9D9E3;
$color-blanco: #ffffff;
$color-gris-claro: #d5d5d5;
$color-gris-oscuro: #333333;
$color-rosa-suave: #FBE2EA;
$color-dorado: #D4AF37;

$title-size: 5rem;
$title-size2: 3.5rem;
$parrafo-size: 2rem;
$parrafo-size2: 1.8rem;