
$color-rosado: #d461a6;
$color-violeta: #a50062;
$color-blanco: #fff;
$color-negro: #000;
$color-naranja-claro: #ff9b55;
$color-naranja: #d62900;

$title-size: 5rem;
$title-size2: 3.5rem;
$parrafo-size: 2rem;
$parrafo-size2: 1.8rem;