@use "Reset";
@use "Var";
@use "Nav";
@use "Mixin";

.hero {
  position: relative;
  &Carrusel {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;

    &Item {
      min-width: 100%;
      max-width: 100%;
      height: 100%;
      &Img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &Cont {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    @include Mixin.crear-flex(center, center);
    flex-direction: column;
    padding: 0 8rem;

    &Title {
      color: Var.$color-blanco;
      font-size: Var.$title-size;
      text-align: center;
    }

    &Parrafo {
      color: Var.$color-blanco;
      font-size: Var.$parrafo-size;
      text-align: center;
    }
  }

  @media (max-width: 480px) {
    &Cont {
      padding: 0 4rem;
    }
  }
  @media (max-width: 320px) {
    &Cont {
      padding: 0 2rem;
    }
  }
}

.antes {
  padding: 5rem 8rem;
  // @include Mixin.crear-flex(center,center);
  &Title {
    text-align: center;
    font-size: Var.$title-size2;
    color: Var.$color-naranja;
    padding: 1rem;
  }
  &Texto {
    @include Mixin.crear-flex(center, center);
    &Parrafo {
      margin: 1rem;
      font-size: Var.$parrafo-size2;
      border: 1px solid Var.$color-naranja-claro;
      padding: 2rem;
    }
    &Img {
      margin: 1rem;
      max-width: 100%;
      width: 30rem;
      height: 30rem;
      object-fit: cover;
    }
  }
}

.cita1{
  &Img{
    max-width: 100%;
    width: 100%;
    height: 10rem;
    object-fit: fill;
  }
}
