@use "Reset";
@use "Var";
@use "Nav";
@use "Mixin";
@use "Dark";

.icon{
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 2rem;
  bottom: 2rem;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;

  &Show{
    opacity: 1;
    pointer-events: unset;
  }

  &Mode, &Arrow{
    cursor: pointer;
    margin: 1rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: Var.$color-dorado;
    
  }
  &Img{
    max-width: 100%;
    width: 2.5rem;
    pointer-events: none;
  }
}



.cont {
  /* Animación de aparición */
  .fade-in {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease, transform 2s ease;
  }

  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .inicio1 {
    background-color: #000;
    .imgHero {
      max-width: 100%;
      width: 100%;
      height: 100vh;
      filter: grayscale(40%);
      object-fit: contain;
    }

    .text {
      @include Mixin.crear-flex(center, center);
      flex-direction: column;
      position: absolute;
      padding: 2rem 8rem;
      top: 0rem;
      left: 0;
      right: 0;
      bottom: -7.1rem;
      z-index: 50;

      &Title {
        color: Var.$color-dorado;
        font-size: Var.$title-size;
        background-color: rgba($color: #000000, $alpha: 0.6);
        padding: 1rem 2rem;
        text-align: center;
      }

      &Parrafo {
        color: Var.$color-blanco;
        font-size: Var.$parrafo-size;
        background-color: rgba($color: #000000, $alpha: 0.6);
        padding: 1rem 2rem;
      }

      @media (max-width: 768px) {
        &Title {
          font-size: Var.$title-size2;
        }
        &Parrafo {
          font-size: Var.$parrafo-size2;
        }
      }

      @media (max-width: 576px) {
        padding: 2rem 4rem;
        &Parrafo{
          height: 10rem;
          overflow-y: scroll;
        }
      }

      @media (max-width: 480px){
        &Title{
          font-size: 3rem;
        }

        &Parrafo{
          height: 7rem;
        }
      }

      @media (max-width: 320px) {
        padding: 2rem 2rem;

        &Title{
          font-size: 2.8rem;
        }

        &Parrafo{
          height: 7rem;
        }
      }
    }
  }
  .nosotros {
    padding: 2rem 8rem;

    &Title {
      color: Var.$color-dorado;
      font-size: 3.5rem;
      text-align: center;
      border-bottom: 1px solid Var.$color-dorado;
      padding-bottom: 1rem;
    }

    &Title2 {
      font-size: 2.5rem;
      color: Var.$color-dorado;
    }

    &Parrafo {
      font-size: 2rem;
      color: Var.$color-gris-oscuro;
    }

    @media (max-width: 576px) {
      padding: 2rem 4rem;
    }

    @media (max-width: 320px) {
      padding: 2rem 2rem;
    }
  }


  .momentosEspeciales1 {
    padding: 2rem 8rem;
    .msTitle {
      text-align: center;
      color: Var.$color-dorado;
      font-size: 3.5rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid Var.$color-dorado;
    }

    p {
      color: Var.$color-gris-oscuro;
      font-size: 2rem;
      margin-bottom: 6rem;
    }

    .galeria {
      display: flex;
      overflow: hidden;

      .carrusel {
        min-width: 40rem;
        max-width: 40rem;
        height: 40rem;
        &Img {
          // cursor: pointer;
          max-width: 100%;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: scale(1);
          transition: transform 1s ease;

          &:hover, .touchHover {
            transform: scale(0.9);
          }
        }
      }
    }

   

    .tarjetas {
      padding-top: 8rem;
      @include Mixin.crear-flex(center, center);
      flex-wrap: wrap;

      &Cont {
        position: relative;
        box-shadow: 4px 8px 10px rgba($color: #000000, $alpha: 0.6);
        margin: .5rem;

        &Img {
          max-width: 100%;
          width: 20rem;
          height: 30rem;
          object-fit: cover;
          pointer-events: none;
        }
        &P {
          text-align: center;
          position: absolute;
          top: -2rem;
          left: 0;
          right: 0;
          bottom: -5.8rem;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba($color: #000, $alpha: 0.7);
          color: Var.$color-dorado;
          opacity: 0;
          transition: opacity 1s ease;
          // pointer-events: none;

          &Show, .touchTarjetas{
            opacity: 1;
          }
        }
      }
      @media (max-width: 576px){
        &Cont{
          &Img{
            width: 30rem;
            height: 45rem;
          }
        }
      }
      @media (max-width: 320px){
        &Cont{
          &Img{
            width: 20rem;
            height: 35rem;
          }
        }
      }
    }

    @media (max-width: 576px) {
      padding: 2rem 4rem;
    }

    @media (max-width: 320px) {
      padding: 2rem 2rem;
    }
  }

  .nuestroFuturo1{
    padding: 2rem 8rem;
    .title{
      text-align: center;
      color: Var.$color-dorado;
      font-size: 3.5rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid Var.$color-dorado;
    }
    p {
      color: Var.$color-gris-oscuro;
      font-size: 2rem;
      margin-bottom: 6rem;
    }
    .contimg{
      @include Mixin.crear-flex(center,center);
      border-bottom: 1px solid Var.$color-dorado;
      padding-bottom: 4rem;

      &1{
        max-width: 100%;
        width: 50rem;
        object-fit: cover;
        filter: grayscale(2);
        margin: auto;
      }
      
    }
    .texto{
      display: grid;
      width: 100%;
      grid-template-columns: 60% 40%;
      grid-template-rows: 1fr;
      margin-top: 4rem;
      padding: 2rem;
      border-bottom: 1px solid Var.$color-dorado;

      &Img{
        margin: auto;
        max-width: 100%;
        width: 40rem;
        object-fit: cover;
      }

      @media (max-width: 856px){
        grid-template-columns: 100%;
        grid-template-rows: 60% 40%;
      }
    }
    @media (max-width: 576px) {
      padding: 2rem 4rem;
    }

    @media (max-width: 320px) {
      padding: 2rem 2rem;
    }
  } 

  .fin {
    padding: 8rem 8rem;
    &Title{
      font-size: 4rem;
      color: Var.$color-dorado;
      text-align: center;
    }
  }
}

.footer{
  @include Mixin.crear-flex(center,center);
  flex-direction: column;
  background-color: #000;
  padding: 8rem 2rem;
  border-top: 1px solid Var.$color-dorado;
  &Logo{
    max-width: 100%;
    width: 15rem;
  }

  &Parrafo{
    color: Var.$color-blanco;
    font-size: 2rem;
  }

  &Link{
    color: Var.$color-dorado;
    font-size: 1.6rem;
  }
}


